<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Loop</title>
</head>
<body>
    Displaying list of dc characters from list:
    {% for character in dcCharacters %}
        <li>{{ character }}</li>
    {% endfor %}

    Displaying from dictionary:
    {% for key, value in supermanData.items() %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</body>
</html>